.dots {
  width: 100%;

  // position: relative;
  // margin: 0;
  // display: flex;
  // gap: 2px;
  // justify-content: center;
  // flex-direction: row;
  text-align: center;

  @include tablet {
    display: none;
  }
}
