.icon {
  display: block;
  background-size: cover;
  background-position: center;

  &__benefit-wrapper {
    position: relative;
  }

  &--benefit {
    height: 50px;
    width: 70px;
    margin: 0 auto;
  }

  &--medium {
    height: 24px;
    width: 24px;
  }

  &--arrow-left,
  &--arrow-right {
    height: 13px;
    width: 48px;
  }

  &__wrapper {
    position: relative;

    @include hover(opacity, 0, '.icon--static');
    @include hover(opacity, 1, '.icon--hover');
  }

  &--design {
    background-image: url('../images/Frame\ 34.png');

    // display: block;
    // margin-left: auto;
    // margin-right: auto;
  }

  &--speaker {
    background-image: url('../images/Frame\ 35.png');
  }

  &--multiroom {
    background-image: url('../images/Frame\ 36.png');
  }

  &--lighting {
    background-image: url('../images/Frame\ 37\ \(1\).png');
  }

  &--facebook {
    background-image: url('../images/Frame.png');
  }

  &--facebook-hover {
    @include accent(url('../images/Frame.png'));
  }

  &--x {
    background-image: url('../images/Frame\ \(1\).png');
    width: 18px;
    height: 18px;
  }

  &--x-hover {
    @include accent(url('../images/Frame\ \(1\).png'));

    width: 18px;
    height: 18px;
  }

  &--instagram {
    background-image: url('../images/Frame\ 2.png');
  }

  &--instagram-hover {
    @include accent(url('../images/Frame\ 2.png'));
  }

  &--scroll-up {
    background-image: url('../images/Vector\ \(4\).svg');
  }

  &--scroll-up-rotate {
    background-image: url('../images/Vector\ \(4\).svg');
    rotate: 180deg;
  }

  &--scroll-up-hover {
    @include accent(url('../images/Vector\ \(4\).svg'));
  }

  &--arrow-left {
    background-image: url('../images/Vector.svg');
  }

  &--arrow-left-hover {
    @include accent(url('../images/Vector\ \(3\).svg'));
  }

  &--arrow-right {
    background-image: url('../images/Vector\ \(1\).svg');
  }

  &--arrow-right-hover {
    @include accent(url('../images/Vector\ \(2\).svg'));
  }
}
