.image-spans {
  // display: flex;
  position: relative;
  justify-content: center;

  // align-content: center;
  z-index: 0;

  // left: 440px;
  top: -302px;

  @include tablet {
    // position: unset;
    // top: -102px;
    // overflow:none;
    left: 140px;
    height: 225px;
    top: -301px;
  }

  @include desktop {
    left: 440px;
    width: 100%;
    height: 100%;
    top: -302px;
  }

  &__image-span1 {
    background-image: url('../images/Frame\ 11.png');
    width: 543px;
    height: 301px;
    rotate: 0deg;

    // opacity: 0.9;

    background-color: $c-blue-200;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 97%;
    display: block;
    background-blend-mode: darken;

    // z-index:10;
  }

  &__image-span2 {
    background-image: url('../images/Ellipse\ 3.png');
    width: 370px;
    height: 367px;
    rotate: 0deg;

    // opacity: 0.8;
    // background-color: $c-grey-100;
    background-size: 100%;
    margin-top: -244px;
    margin-left: 165px;
    background-repeat: no-repeat;
    display: block;
  }

  &__image-span3 {
    background-image: url('../images/Ellipse\ 4.png');
    width: 154px;
    height: 121px;
    background-size: 56%;
    rotate: -1deg;

    // opacity: 0.8;
    margin-top: -411px;
    margin-left: 25px;
    background-repeat: no-repeat;
    display: block;
  }
}
