.page {
  font-family: Inter, sans-serif;
  background-color: $c-grey-100;
  user-select: none;
  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
    padding: 0;
     // width: 100%;
    min-width: 320px;
    overflow-x: hidden;
      position: relative;
  }

  &__container {
    @include container;
  }

  &__tablet-hidden {
    @include tablet {
      display: none;
    }
  }
}
