.pagination-spans {
  //  display: none;

  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 2;

  // position: relative;
  // text-align: center;
  // margin-top: 90px;

  transform: translateY(100px);

  // transform: translate(-5%, 450%);
  // position: absolute;
  &__left {
    position: absolute;
    transform: translateY(-8px);
  }

  &__center {
    font-size: 11px;
    margin-left: 50px;
    color: #0c797a;
  }

  &__right {
    margin-top: 2px;
    margin-left: 4px;
    font-weight: 400;
    font-size: 11px;
    color: #0c797a;
    line-height: 100%;
    letter-spacing: 0%;
  }

  /*  @include tablet {
    margin-left: -190px;

    // transform: translateX(-100px);
  } */

  @include tablet {
    display: block;
    position: absolute;
    margin-left: 24px;
    transform: translateY(303px);

    &__left {
      position: absolute;
      transform: translateY(-4px);
    }

    &__center {
      font-size: 11px;
      margin-left: 24px;
      color: #0c797a;
    }

    &__right {
      margin-top: 24px;
      font-weight: 400;
      font-size: 11px;
      color: #0c797a;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  @include desktop {
    display: none;
  }
}

.pagination-spans1 {
  // object-position: right;
  // position: relative;
  // margin: 0;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  //   text-align: center;
  // position: absolute;
  // margin-left: 204px;

  // transform: translateY(303px);
  // text-align: center;

  // right: 0px;

  @include tablet {
    display: none;
  }
}
