.sticky {
  position: sticky;
  top: 482px;

  // display:flex;
  // justify-content: flex-start;
  // margin-left:auto;
  // align-items: right;
  // margin-left:1350px;
  opacity: 0.25;

  // margin: auto;
  // right:0;
  // z-index:5;
  margin-right: 123px;

  // overflow: visible;
  display: none;
  rotate: 180deg;

  @include desktop {
    display: none;

    &:hover {
      opacity: 1;
    }
  }
}
